{% extends 'myapp/admin_base.html' %}
{% load static %}
{%block title%}Edit Branch Details{%endblock%}
{% block body %}
<center><br><br><br>
    <h1>Edit Branch Details</h1>
    <div class="container">
    <form name="frm" role="form" action="{% url 'admin_branch_details_edit'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="branch_name">Branch Name</label>
            <input class="form-control" type="text" name="branch_name" id="branch_name" value="{{bd.branch_name}}" required>
        </div>
        <div class="form-group">
            <label for="branch_code">Branch Code</label>
            <input class="form-control" type="text" name="branch_code" id="branch_code" value="{{bd.branch_code}}">
        </div>
        <input type="hidden" value="{{branch_id}}" name="branch_id">
        <button type="submit"
        class="btn btn-info" id="bt" name="bt">Update</button>
        <button type="reset"
        class="btn btn-info" id="rt" name="rt">Reset</button>
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
<style>
    .form-group{
    width:50%;
    }
</style>
{% endblock %}
