{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
Alumni Management System
{% endblock %}
{% block body %}
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1></h1>
      <h2> Alumni Management System</h2>
<!--      <a href="#about" class="btn-get-started">Get Started</a>-->
    </div>
  </section>



<!--<center>-->
<!--    {%for p in p%}-->
<!--&lt;!&ndash;    <img src="../static/myapp/media/{{p.pic_path}}" width="600" height="400">&ndash;&gt;-->

<!--    {%endfor%}-->
<!--</center>-->
<!---->
<!--<style>-->
<!--    body{-->
<!--    background-image:url({% static './myapp/images/college.jpg' %});-->
<!--     background-repeat: no-repeat;-->
<!--      background-size: cover;-->
<!--    }-->
<!--</style>-->

{% endblock %}

{%block footer%}
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>*******</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

{%endblock%}